<p>
	<%= f.label :head_count %>
	<%= f.number_field :head_count , min: 1 %>
</p>

<p>
	<%= f.label :start_date %>
	<%= f.text_field :start_date, id:'from' %>
</p>

<p>
	<%= f.label :end_date %>
	<%= f.text_field :end_date, id:'to' %>
</p>

<p>
	<%= f.submit "Submit" %>
</p>