<% if flash[:alert] %>

  <div class="alert alert-warning">

    <%= flash[:alert] %>

  </div>

<% end %>


<div class="panel panel-default bootstrap-basic">
  <div class="panel-heading">
    <h3 class="panel-title">Enter Card Details</h3>
  </div>

    <%= form_for :checkout_form, url: users_public_reservations_path, html: {id:"checkout-form", class:"panel-body"} do |f|%>

    <div class="row">

    <div class="field">
      <%= f.hidden_field :public_reservation_id, :value => @public_reservation.id %>
    </div>

    <div class="field">
      <%= f.hidden_field :public_price, value: @public_reservation.public_price %>
    </div>

      <div class="form-group col-md-12 col-sm-12 col-xs-12", id="card-num">
        <label class="control-label">Card Number</label>
        <!--  Hosted Fields div container -->
        <div class="form-control" id="card-number"></div>
        <span class="helper-text"></span>
      </div>
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <label class="control-label col-xs-12">Expiration Date</label>
          <div class="col-md-6 col-sm-6 col-xs-6", id="hosted-month">
            <!--  Hosted Fields div container -->
            <div class="form-control" id="expiration-month"></div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6", id="hosted-year">
            <!--  Hosted Fields div container -->
            <div class="form-control" id="expiration-year"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-6", id="security-code">

        <label class="control-label">Security Code</label>

        <!--  Hosted Fields div container -->
        <div class="form-control" id="cvv"></div>
      </div>
   </div>

    <%= f.hidden_field "payment_method_nonce" %>

    <%= button_tag(type: 'submit', class: "btn btn-success btn-lg center-block", id:"submit-payment") do %>
    		Pay with <span id="card-type">Card</span>
    	<% end %>

    <% end %>

    </div>

<!-- Load the required client component. -->
<script src="https://js.braintreegateway.com/web/3.3.0/js/client.min.js"></script>

<!-- Load Hosted Fields component. -->
<script src="https://js.braintreegateway.com/web/3.3.0/js/hosted-fields.min.js"></script>

<script>
  
  $(document).ready(function(){

  var form = document.querySelector('#checkout-form');
  var authorization = '<%= @client_token %>'


braintree.client.create({
  authorization: authorization
}, function (err, clientInstance) {
  if (err) {
    console.error(err);
    return;
  }

  braintree.hostedFields.create({
    client: clientInstance,
    styles: {
      'input': {
        'font-size': '14px',
        'font-family': 'helvetica, tahoma, calibri, sans-serif',
        'color': '#3a3a3a'
      },
      ':focus': {
        'color': 'black'
      }
    },
    fields: {
      number: {
        selector: '#card-number',
        placeholder: '4111 1111 1111 1111'
      },
      cvv: {
        selector: '#cvv',
        placeholder: '123'
      },
      expirationMonth: {
        selector: '#expiration-month',
        placeholder: 'MM'
      },
      expirationYear: {
        selector: '#expiration-year',
        placeholder: 'YY'
      },
    }
  }, function (err, hostedFieldsInstance) {
    if (err) {
      console.error(err);
      return;
    }

    hostedFieldsInstance.on('validityChange', function (event) {
      var field = event.fields[event.emittedBy];

      if (field.isValid) {
        if (event.emittedBy === 'expirationMonth' || event.emittedBy === 'expirationYear') {
          if (!event.fields.expirationMonth.isValid || !event.fields.expirationYear.isValid) {
            return;
          }
        } else if (event.emittedBy === 'number') {
          $('#card-number').next('span').text('');
        }
                
        // Apply styling for a valid field
        $(field.container).parents('.form-group').addClass('has-success');
      } else if (field.isPotentiallyValid) {
        // Remove styling  from potentially valid fields
        $(field.container).parents('.form-group').removeClass('has-warning');
        $(field.container).parents('.form-group').removeClass('has-success');
        if (event.emittedBy === 'number') {
          $('#card-number').next('span').text('');
        }
      } else {
        // Add styling to invalid fields
        $(field.container).parents('.form-group').addClass('has-warning');
        // Add helper text for an invalid card number
        if (event.emittedBy === 'number') {
          $('#card-number').next('span').text('Looks like this card number has an error.');
        }
      }
    });

    hostedFieldsInstance.on('cardTypeChange', function (event) {
      // Handle a field's change, such as a change in validity or credit card type
      if (event.cards.length === 1) {
        $('#card-type').text(event.cards[0].niceType);
      } else {
        $('#card-type').text('Card');
      }
    });

      form.addEventListener('submit', function (event) {
        event.preventDefault();

      hostedFieldsInstance.tokenize(function (err, payload) {
        if (err) {
          console.error(err);
          return;
        }

         document.querySelector('input[name="checkout_form[payment_method_nonce]"]').value = payload.nonce;

          form.submit();

        // This is where you would submit payload.nonce to your server
      });
    });
  });
});
});
</script>