<div class="container">
	<div class="user-profile">

		<div class="card card-block">
	    <h2 class="card-title"><strong>Profile</strong></h2>
	    <p>Name: <%= @user.first_name + " " + @user.last_name  %></p>
	    <p>Email: <%= @user.email %></p>
	    <% if @packages.present? %>
	    	<% @packages.each do |p| %>
		    	<p>Tours: <%=link_to p.title, package_path(p.id), method: 'get'%></p>
		   	<% end %>
			<% end %>
			<% @user.private_reservations.each do |private_reservation| %>
				<p>Reservation: <%= link_to private_reservation.package.title, private_reservation %></p>
			<% end %> 
			<%= link_to "Edit Profile", edit_user_url, method: "get", class: "btn btn-danger"  %>
		</div>
	</div>
</div>	