<div class="container">
	<div class="user-profile">

		<div class="card card-block card__top">
	    <div class="card__image">
	    	<div class="card--round">
			    <% if @user.profile_picture.url.nil? %>
							<%= image_tag("user_pic-225x225.png") %>
					<% else %>
						<%= image_tag(@user.profile_picture.square.url) %>
					<% end %>
				</div>
			</div>
			<div class="card__top_details">
		    <h2><%= @user.first_name + " " + @user.last_name  %></h2>
		    <p><%= mail_to @user.email %></p>
		    <p><%= "I am a #{@user.position}" %></p>
		  </div>
		  <div class="card__about">
		  	<h3>About Me</h3>
		  	<article>
		  		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean auctor placerat molestie. Nullam purus ipsum, bibendum ut eleifend vitae, lobortis at ante. Praesent tincidunt nisl eget tellus congue pellentesque. Integer urna diam, tincidunt ut mi nec, imperdiet hendrerit sapien. Ut eget diam sed mi posuere lobortis ut eu nisi. Etiam nunc nisl, varius at mattis eget, rutrum et nisi. Cras scelerisque, tellus et posuere luctus, justo tellus viverra turpis, eget faucibus est ipsum sit amet metus. Morbi est urna, lobortis ut ornare et, commodo sit amet nisi. Duis gravida convallis nunc at dapibus. 
		  	</article>
		  </div>
	  </div>
	
	  <% if @user.role == "tour_guide" %>
	  	<h3>Available Packages</h3>
	  <% end %>
	  <div class="card__content">
	    <% if @packages.present? %>
	    	<% @packages.each do |p| %>
		    	<div class="card-block card__package">
		    		<div class="card__package_image">
			    		<%= image_tag p.images[0].square.url %>
		    		</div>
		    		<%=link_to p.title, package_path(p.id), method: 'get'%>
	    		</div>
		   	<% end %>
			<% end %>
			<% @user.private_reservations.each do |private_reservation| %>
				<p>Reservation: <%= link_to private_reservation.package.title, private_reservation %></p>
			<% end %> 

			</div>
			<%= link_to "Edit Profile", edit_user_registration_path, method: "get", class: "btn btn-danger"  %>
	</div>
</div>	
