<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	<% if @public_reservation.errors.full_messages.any? %>
		<div class="alert alert-danger">
		  <% @public_reservation.errors.full_messages.each do |error_message| %>

		    <%= error_message %><br> 

		  <% end %>
	  </div>
	<% end %>
  

<h2>Make a public tour for <%= @package.title %></h2>
<div class="container">

	<%= form_for [@package, @public_reservation] do |f| %>

		<%= f.label :public_price, "Price per pax" %>
		<%= f.text_field :public_price %>

		<%= f.label :start_date %>
		<%= f.text_field :start_date, id:'from' %>

		<%= f.label :end_date %>
		<%= f.text_field :end_date, id:'to' %>

		<%= f.submit :submit %>

	<% end %>

</div>	