<h1><%= link_to "#{@package.title} - #{@package.day} day(s) tour", package_path(@package)%></h1>

<h4>Open Tour</h4>

<li>Tour Guide: <%= @package.user.username %></li>
<li>Start date: <%= @public_reservation.start_date %></li>
<li>End date: <%= @public_reservation.end_date %></li>
<li>Price: RM<%= @public_reservation.public_price %></li>
<li>Participants: 0/<%=@package.head %></li>


<a href="#">Book this Tour</a>